body{
    font-family: monospace;
    font-size: 13px;
}
table, th, tr, td {
    border-collapse: collapse;
    border: 1px solid #808080;

}
a:visited {
    color: blue;
}
table{
    margin-left: 16px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    /* display: block;
    color: white; */
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li a:hover {
    text-decoration: underline;
}  